body{
    font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.del{
    color: coral;
}
img{
    width: 450px;
    
    margin-top: 10px;
}
.container-flexible{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 100px;
    padding-right: 100px;
}
.button{
    font-weight: 700;    
    background-image: linear-gradient(coral, tomato);    
    padding: 12px 40px;
    border-radius: 12px;
    border: none;
}
.button a{
    color: white;
    font-weight: 700;
    text-decoration: none;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle-banner{
    margin-top: 100px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.half-width-tow{
    width: 50%;
    margin-top: 10px;
    padding-right: 100px;
}
.card{
    width: 40%;
    margin-left: 6%;
    margin-right: 5%;
    margin-bottom: 100px;
    box-shadow: 10px 10px 40px gray;
    padding: 20px;
    border-radius: 10px;
    
}
.card-one{
    border-left: 6px solid;
    border-image: linear-gradient(coral, tomato);
    border-image-slice: 1;
}
.card-two{
    border-left: 6px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.bottom-banner{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 100px;
}
footer p{
    text-align: center;
}
